<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mocha Magic</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Menu</h1>
    <% data.menu.forEach(element => { %>
        <a href="#" onclick="goToItem(`<%= element.name %>`)" id="<%= element.name %>">
        <div id="menu-item" >
            <h1><%= element.name %></h1>
            <p>Price: $<%= element.price %></p>
            <p><%= element.description %></p>
            <p>Details: <%= element.category %></p>            
        </div>
        </a>
    <% }) %>
    <%- include('./partials/footer.ejs', {data}); %>
    <script>
        const goToItem = (itemName) => {
            const itemElement = document.getElementById(itemName);
            itemElement.href = `/menu/${itemName}`;
        }
    </script>
</body>
</html>